# This environment variable is overriden by the docker-compose.yaml file
SECRET_KEY=secret

ENV_STATE=local

# cors
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# DjangoのWebアプリを提供するサーバーのホスト名をリストで指定
ALLOWED_HOSTS=

# DB
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST="db"
DB_ENGINE=django.db.backends.postgresql
